@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(10, 16, 20);
    color: white;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.app-container {
    max-width: 1180px;
    margin: auto;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.Anya {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img {
        width: 30vh;
    }

    h2 {
        font-size: 18px;
    }
}

.fa-close {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 23px;
}

.no-img {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aquamarine;

    & {
        font-size: 60px;
    }
}

.iframe {
    height: 100%;
}