@media screen and (max-width: '900px') {
    .display-flex-row {
        flex-direction: column;

        .title-info {
            margin-top: 30px;
            max-width: 889px;
            order: 1;

            #cast-title {
                font-size: 45px;
            }

            div {
                // display: flex;
                line-height: 35px;
            }

            #Movie-title {
                font-size: 40px;
            }

            #tv-title {
                font-size: 40px;
            }

            .genres {
                display: flex;
                flex-direction: column;
            }

            #tv-status {
                line-height: 50px;

                span:nth-of-type(1) {
                    display: block;
                }
            }

        }
    }

    .loader {
        img {
            margin-top: 10vh;
            max-width: 40vh;
        }
    }

    .card {
        width: 19vh;
    }
}

@media screen and (max-width: '580px') {
    .modal-content {
        padding: 30px;
        height: 45%;
        width: 120%;
    }

    .loggedInUser {
        height: 5vh;
    }
}