.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: rgb(10, 16, 20);
    z-index: 11;
    height: 10vh;

    .logo {
        margin-top: -13px;
        cursor: pointer;
        height: 6vh;
        background-image: url("https://static.vecteezy.com/system/resources/previews/018/931/517/original/cartoon-popcorn-icon-png.png");
        width: 6vh;
        background-size: cover;
        background-position: center;
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 20px;
        .discover{
            display: flex;
            color: white;
            font-size: 30px;
        }
        .fa-solid {
            cursor: pointer;
            color: white;
            font-size: 27px;
        }
    }
}

.loggedInUser {
    border: 2px solid yellow;
    height: 7vh;
    border-radius: 50%;

    img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
}