.search-icon {
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 4pc;
    color: black;
}

.search-box {
    margin-top: 20px;
    position: sticky;
    top: 5px;
    z-index: 10;

    #search {
        font-weight: bold;
        width: 100%;
        border: none;
        height: 50px;
        outline: none;
        font-size: 15px;
        margin-bottom: 30px;
    }
}