.details-page .display-flex-row .title-info > div {

    span:nth-of-type(2) {
        background: rgb(122, 140, 153);
        color: rgb(10, 16, 20);
        font-weight: 500;
        border-radius: 5px;
        margin: 0px 0.5rem;
        padding: 10px;
        text-align: center;
    }
}