.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: rgb(10, 16, 20);
    z-index: 10;
    height: 9vh;

    .logo {
        font-size: 35px;
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 20px;
        .discover{
            display: flex;
            color: white;
            font-size: 30px;
        }
        .fa-solid {
            cursor: pointer;
            color: white;
            font-size: 27px;
        }
    }
}

.loggedInUser {
    border: 2px solid yellow;
    height: 6vh;
    border-radius: 50%;

    img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
}